{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="col-md-12 text-center ">
            <p class="breadcrumbs text-center titles"><span class="mr-2"><a href="{% url 'home' %}">Home.</a></span> <span>Register</span></p>
        </div>
<h2 class="register-header para">Register</h2>
<form method="POST" class="register-form">
    {% csrf_token %} {{ form|crispy }}
    <div class="text-center">
        <button type="submit" id="register-submit" class="btn btn-outline-success my-2 para">Register</button>
        <small><p>Already Have An Account? <a href="{% url 'login' %}" class="login-link para">Sign In</a></p></small>
    </div>
</form>
{% endblock %}
