{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="calling-man">
<div class="hero">

    <h1 class="para"><span>WELCOME TO</span><br>GYM-MAX</h1>

    <div class="mouse">
        <span></span>
    </div>
</div>
</div>
<section>
<div id="body" class="img-fluid">
    <div class="home-text">
        <p class="para">Be Fit</p>
        <h1 class="header">Stay Fit.</h1><br>
        <a href="{% url 'products' %}" class="button para">BUY ONE HERE<i class="fa fa-caret-right right"></i></a>
    </div>
</div>   
</section>
<!--test pricing-->
<h1 class="para text-center">Our Services</h1>
    <section class="ftco-section ftco-no-pt" style="">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 img img-2 order-md-last responsive-img">
    			<img src="{% static 'img/bg_2-1.jpg' %}" alt="" class="responsive-img" style="height:auto; width:100%;">
    			</div>
    			<div class="col-md-6 py-5">
    				<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<span class="flaticon-gym"></span>
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3 class="titles">Crossfit</h3>
								<p>Set across 10,000 square feet of strength training space: an outstanding range of the latest weight training equipment, including Technogym, Cybex, Precor and Freemotion awaits.</p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<span class="flaticon-woman"></span>
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3 class="titles">Aerobic Classes</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
							</div>
  					</div>
  					<div class="program d-flex ">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<span class="flaticon-workout"></span>
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3 class="titles">Shop</h3>
								<p>Where fashion and fitness intersect. Pursue your results with activewear essentials and exclusive collaborations.

Where fashion and fitness intersect. Pursue your results with activewear essentials and exclusive collaborations.</p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3 class="titles">Yoga Classes</h3>
								<p>Give your muscles some love after your workout to relieve tension and tightness in a calm, comfortable space.</p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<span class="flaticon-stationary-bike"></span>
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3 class="titles">Cardio Training</h3>
								<p>Made up of exercise stations designed to efficiently condition your body with functional training, our UXF Training zone is for all members.</p>
							</div>
  					</div>
    			</div>
    		</div>
    	</div>
    </section>
<hr>

<hr>
{% endblock %}
