{% url 'home' as home_url %} {% url 'contact' as contact_url %} {% url 'products' as products_url %} {% url 'login' as login_url %} {% url 'logout' as logout_url %} {% url 'register' as register_url %} {% url 'cart:home' as cart_url %}


  
<header class="main_h">

    <div class="row">
        <a class="logo" href="{% url 'home' %}">GYM-Max</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="{{ home_url }}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'email' %}">Contact Us</a></li>
                <li><a href="{{ products_url }}">Store</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a  href="{{ cart_url }}"><span class="navbar-cart-count">{{ request.session.cart_items }}</span><i class="fa fa-shopping-cart"></i></a></li>
                {% if request.user.is_authenticated %}
                <li><a  href="{{ logout_url }}">Logout</a></li>
                {% else %}
                <li><a  href="{{ register_url }}">Register</a></li>
                <li><a  href="{{ login_url }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

    </div> <!-- / row -->

</header>






